<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="secDelay" value="10"/>
    <add key="ad:domain" value="argus.mebt"/>
    <add key="ad:lookupUser" value="zgaspar"/>
    <add key="ad:lookupUserPwd" value="wapaja.115"/>
    <add key="ad:dnAd" value="DC=meadfstest,DC=local"/>
    <add key="ad:dnMEUserGroup" value="CN=mobilengine,CN=Users,DC=meadfstest,DC=local"/>
    <add key="me:urlWdx" value="### SET IN SERVICE MODEL END POINT PARAMETERS ###"/> 
    <add key="me:iepApikey" value="4188a246ac764583a370ec1fe2ede80b"/>
    <add key="me:urlUman" value="http://localhost:8081/services/comex/v1/uman/"/>
    <add key="me:usernpwdDev" value="dev/wapaja.115"/>
    <add key="me:companyId" value="100"/>
    <add key="me:issuer" value="http://argus.mebt/adfs/services/trust"/>
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWdx1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IWdx">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://calvin.infoklaszter.com:4443/Services/Wdx/Wdx.svc/apikey"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWdx1"
        contract="DacsUserDelete.IWdx" name="BasicHttpBinding_IWdx1" />
      <endpoint address="https://calvin.infoklaszter.com:4443/Services/Wdx/Wdx.svc/apikey"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWdx"
        contract="DacsUserInsertUpdate.IWdx" name="BasicHttpBinding_IWdx" />
    </client>
  </system.serviceModel>
</configuration>