<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net"
      type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=2.0.8.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <appSettings>

    <add key="minDelay" value="10"/>
    <!-- alternative argus settings-->
    <add key="ad:domainServer" value="argus.mobilengine.com"/>
    <add key="ad:lookupUser" value="meLookupUser@meadfstest.local"/>
    <add key="ad:dnAd" value="DC=meadfstest,DC=local"/>
    <add key="ad:dnMEUserGroup" value="CN=mobilengine,CN=Users,DC=meadfstest,DC=local"/>
    <!-- devad settings  
    <add key="ad:domainServer" value="devad.mobilengine.com"/>
    <add key="ad:lookupUser" value="meLookupUser@devad.local"/>
    <add key="ad:dnAd" value="DC=devad,DC=local"/>
    <add key="ad:dnMEUserGroup" value="CN=mobilengine,CN=Users,DC=devad,DC=local"/>
-->
    <add key="ad:lookupUserPwd" value="Vujmag16"/>

    <add key="me:urlWdx" value="### SET IN SERVICE MODEL END POINT PARAMETERS ###"/>
    <add key="me:iepApikey" value="51bf805a65454763ac5dc91e847de5e9"/>
    <add key="me:urlUman" value="https://calvin.mobilengine.com:4443/services/comex/v2/uman/"/>
    <add key="me:usernpwdDev" value="dev/Vujmag16"/>
    <add key="me:companyId" value="100"/>
    <!-- alternative settings
    <add key="me:issuer" value="http://devad.mobilengine.com/adfs/services/trust"/>
    -->
    <add key="me:issuer" value="http://argus.mobilengine.com/adfs/services/trust"/>
  </appSettings>

  <log4net>
    <appender name="Console" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %-25.25c{1} | %m%n" />
      </layout>
    </appender>

    <appender name="A1" type="log4net.Appender.RollingFileAppender">
      <file value="adgw.log" />
      <param name="appendToFile" value="true" />
      <param name="rollingStyle" value="Composite" />
      <param name="maximumFileSize" value="10240KB" />
      <param name="maxSizeRollBackups" value="-1" />
      <param name="datePattern" value="_yyyy-MM-dd_HH'.00.txt'" />

      <!-- A1 uses PatternLayout -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>

    <!-- Set root logger level to DEBUG and its only appender to A1 -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="A1" />
      <appender-ref ref="Console" />
    </root>
  </log4net>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWdx1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IWdx">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://calvin.mobilengine.com:4443/Services/Wdx/Wdx.svc/apikey"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWdx1"
        contract="DacsUserDelete.IWdx" name="BasicHttpBinding_IWdx1" />
      <endpoint address="https://calvin.mobilengine.com:4443/Services/Wdx/Wdx.svc/apikey"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWdx"
        contract="DacsUserInsertUpdate.IWdx" name="BasicHttpBinding_IWdx" />
    </client>
  </system.serviceModel>
</configuration>