<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="tourplandemoConnectionString" connectionString="server=localhost;User Id=td_root;password=Passw0rd;Persist Security Info=True;database=tourplandemo;port=3307" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="InCert" value="f:/Mobilengine/TourPlanDemo/certificates/cs_tourplan.sandbox.mobilengine.com.pfx" />
    <add key="InCertPassword" value="T0urpl4n" />
    <add key="InFrom" value="https://tourplan.sandbox.mobilengine.com:9443" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWdx">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWdx" contract="TourplanDemoReceiveService.Wdx.IWdx"/>
    </client>
    <services>
      <service name="TourplanDemoReceiveService.Wdx.WdxService" behaviorConfiguration="WdxServiceBehavior">
        <endpoint binding="basicHttpBinding"  bindingConfiguration="BasicHttpBinding_IWdx" contract="TourplanDemoReceiveService.Wdx.IWdx" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WdxServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>