<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="BasicHttpBinding_IWdx"
                address="https://localhost:4444/Services/Wdx/Wdx.svc"
                contract="Mobilengine.Integration.IWdx"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWdx"
                behaviorConfiguration="BasicHttpBinding_IWdx" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWdx">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="BasicHttpBinding_IWdx">
          <clientCredentials>
            <clientCertificate storeLocation="LocalMachine"
                               x509FindType="FindBySubjectName"
                               findValue="me test client"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!-- you can enable message level logging with uncommenting the following lines -->
    <!--
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="false"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="false"
           maxMessagesToLog="3000"
           maxSizeOfMessageToLog="2000"/>
    </diagnostics>
    -->
  </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="c:\logs\messages.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
</configuration>