<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="TestServer.WdxService" behaviorConfiguration="WdxServiceBehavior">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWdx" contract="TestServer.IWdx"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WdxServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWdx">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
